@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body,input {font-family: 'Poppins', sans-serif;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #20dbc2;
    color: white;
    text-transform: uppercase;
    font-weight: 600px;
    margin: 10px 0;
    transition: all .5s;
}

.btn:hover {
    background-color: #00bfa6;
}

.social-text {
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.54rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all .5s;
}
.social-icon:hover {
    color: #20dbc2;
    border-color: #00bfa6;
}