#header-center{
    margin: 0 auto;
    width: 1080px;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


#header-search > h1{
    display: inline-block;
    background-image: url(./images/naver_logo.png);
    width: 222px;
    height: 52px;
    background-size: 433px 409px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}

#header-search h2{
    display: none;
}

#header-search fieldset{
    width: 520px;
}

/*
inline-block은  태그의 크기만 차지 하지만
inline은 태그 안의 컨텐츠만 차지한다
*/